@page "/play/{Bot}/{BoardSize:int?}"
@page "/play/{BoardSize:int?}"
@page "/play"

@inject HttpClient _httpClient


<div class="d-flex justify-content-center m-2">
    <div>
        <div class="d-flex justify-content-center m-2">
            <h1>@_botName</h1>
        </div>
        <div>
            <div class="mb-4">
                <button class="btn btn-info btn-lg btn-block" @onclick="RestartGameAsync">Restart Game..</button>
            </div>
        </div>

        <div class="play-area @GetBoardSizeClass() mb-4">
            @for (var i = 0; i < _totalSpots; i++)
            {
                var moveIndex = i; // need to do this since the lambda captures i which gets updated
                <div @onclick="() => MakeMove(moveIndex)" id="block_@(i)" class="@(GetCssClass(i))">@_positions[i]</div>
            }

        </div>
        <div>
            <div class="d-flex justify-content-center mt-6">
                <h4>@_playerTurnText</h4>
            </div>
        </div>
    </div>
    
</div>
<div hidden="@_isGameInProgress" class="@_result-message fixed-bottom align-middle text-center p-3">
    <p class="h1">@_winnerText</p>
</div>
